@page
@using Acme.BookStore.Localization;
@using Acme.BookStore.Web.Pages.Books;
@using Microsoft.Extensions.Localization;
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal;  
@model Acme.BookStore.Web.Pages.Books.BookCartModalModel
@inject IStringLocalizer<BookStoreResource> L
@{
    Layout = null;
}
<abp-dynamic-form abp-model="cartModal" asp-page="/Books/BookCartModal">
    <abp-modal>
        <abp-modal-header title="@L["BookCart"].Value"></abp-modal-header>
        <abp-modal-body>
            <abp-form-content />
            @foreach(var item in Model.cartModal.BookCart)
            {
                <p>@L["Name"].Value: @item.BookName</p>
                <p>@L["BorrowDate"].Value: @item.BorrowDate</p>
                <p>@L["ExpectedReturnDate"].Value: @item.ExpectedReturnDate</p>
                <p>@L["Quantity"].Value: @item.Quantity</p>
                <br/>
            }
        </abp-modal-body>
        <abp-modal-footer></abp-modal-footer>
    </abp-modal>
</abp-dynamic-form>
